* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: black;
  max-width: 1440px;
  padding: 0 25px 0 25px;
  margin: auto;
}

/* Style Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  font-size: 15px;
  font-weight: 500;
}
#logo-link {
  flex: 1;
}
.menu {
  height: 100%;
}
.menu ul {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.menu ul li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px;
  margin: 10px;
}

.menu a {
  text-decoration: none;
  color: rgb(12, 12, 12);
}
.menu ul li:nth-child(1) {
  height: 100%;
  border-top: #0065fc 2.5px solid;
  font-weight: 600;
}
#link1 {
  color: #0065fc;
}

#link3 {
  font-weight: 800;
  color: #0065fc;
  text-decoration: none;
  margin-left: 20px;
}

/* Style filtres */

.filter-section h1 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.filter-section__search {
  display: flex;
  flex-direction: row;
  height: 50px;
  border-radius: 15px;
  border: 1px #f2f2f2;
  margin: 20px 0 20px 0;
}
.filter-section__search span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  min-width: 50px;
  border-radius: 15px 0 0 15px;
}

.filter-section__search input {
  border: none;
  max-width: 225px;
  font-family: "Raileway", sans-serif;
  font-weight: 800;
  font-size: medium;
  padding-left: 1rem;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
}
.filter-section__search button {
  border: none;
  background-color: #0065fc;
  padding: 1rem;
  font-family: "Railewaay", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(250, 250, 250);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
#search-btn-icon {
  display: none;
}
#search-btn-text {
  background-color: #0065fc;
}

.filter-section__filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 45px 0;
}

.filters__title {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0 20px 0 0;
}

.filters__bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin: 0 10px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.filters__bubble:hover {
  background-color: #cde0fc;
  transform: scale(1.05);
}

.bubble__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #deebff;
  border-radius: 50%;
  margin: -2px;
}
.icon-wrapper__icon {
  color: #0065fc;
}

.bubble__text {
  margin: 0 10px;
  font-size: 1.1rem;
  font-weight: 800;
}
.filter-section__results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.results__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.icon--info {
  font-size: 12px;
}

/* SECTION HEBERGEMENT */

.hebergement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 855px;
  border-radius: 20px;
  height: auto;
}

.container__title {
  font-size: 1.4rem;
  margin: 50px 0 15px 30px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 15px 0 15px;
}
.container a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.card-link {
  text-decoration: none;
  color: black;
}
.card-link:visited {
  color: black;
}

.card-container__card {
  width: 245px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
}
.card-container__card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.2);
}

.card__image-container {
  width: 100%;
  height: 115px;
  padding: 5px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.card__image {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 20px 20px 0 0;
}
.card__text {
  margin: 0 0 10px 15px;
}
.card__text__title {
  font-size: 0.98rem;
  font-weight: 700;
  margin: 5px 0;
}

.card__text__description {
  font-size: 0.85rem;
  margin: 5px 0;
}

.description__price {
  font-weight: 600;
}
.notation__icon--filled {
  font-size: 0.8rem;
  color: #0065fc;
}
.notation__icon--empty {
  font-size: 0.8rem;
  color: #dcdcdc;
}
.container__more {
  font-weight: 800;
  margin: 25px 25px;
}
/* POPULAIRES */

.container--populaire {
  margin-left: 40px;
  width: 410px;
  height: auto;
}

.container__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper-icon {
  margin: 50px 30px 15px 0;
  font-size: 1.5rem;
}

.card--populaire {
  flex-direction: row;
  width: 350px;
  height: 150px;
}
.card-link--populaire {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.card-link--populaire:visited {
  color: black;
}

.image-container--populaire {
  display: flex;
  padding: 0;
  width: 150px;
  height: 100%;
  overflow: hidden;
}
.image--populaire {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  padding: 5px;
  margin: auto;
}
.card__text--populaire {
  margin: 15px 0 0 0;
  max-width: 210px;
  height: 100%;
  position: relative;
  padding-right: 40px;
  padding-left: 15px;
}

.notation--populaire {
  position: absolute;
  bottom: 15px;
}

/* ACTIVITE  */
.activite-title {
  margin: 50px 0 20px 0;
}

.activite-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 202.5px);
  grid-template-areas:
    "card1 card2 card4 card5"
    "card1 card3 card4 card6";
  grid-gap: 40px;
}

#card1 {
  grid-area: card1;
}
#card2 {
  grid-area: card2;
}
#card3 {
  grid-area: card3;
}
#card4 {
  grid-area: card4;
}
#card5 {
  grid-area: card5;
}
#card6 {
  grid-area: card6;
}

.activite-card {
  border-radius: 1rem;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.activite-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

figure {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
figcaption {
  margin: 20px;
  font-weight: 700;
}
.activite-card img {
  width: 100%;
  height: calc(100% - 55px);
  object-fit: cover;
}

/* #card3 figure {
  height: 90%;
} */

/* STYLE FOOTER */

footer {
  display: flex;
  flex-direction: row;
  margin: 60px -50px 0 -50px;
  background-color: #f2f2f2;
}

.links-footer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 360px;
}

footer h3 {
  margin-bottom: 20px;
}
footer a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

/* STYLE MOBILE  */

@media screen and (max-width: 767px) {
  body {
    width: 100vw;
    padding: 0;
  }
  header {
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin-bottom: 20px;
  }
  #Logo,
  #link3 {
    padding: 15px 25px;
  }
  .menu {
    order: 3;
    margin: 0;
    padding: 0;
    flex: 1;
  }
  .menu ul li {
    margin: 0;
    flex: 1;
    justify-content: center;
  }
  .menu ul li:nth-child(1) {
    border-top: none;
    border-bottom: #0065fc 3px solid;
  }
  .menu ul li:nth-child(2) {
    border-bottom: #f2f2f2 3px solid;
    font-weight: 600;
  }
  /* MOBILE FILTERS */
  .filter-section {
    padding: 0 20px;
  }
  .filter-section__search {
    margin: 20px auto;
    justify-content: center;
  }
  .filter-section__search button {
    border-radius: 15px;
  }
  #search-btn-icon {
    display: block;
  }
  #search-btn-text {
    display: none;
  }
  .filter-section__filters {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .filters__title {
    width: 100%;
    margin: 10px 0;
  }
  .filters__bubble {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  /* MOBILE POPULAIRE */
  .hebergement {
    margin-bottom: 25px;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .container--populaire {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .container__title-wrapper {
    display: flex;
    align-items: center;
    padding: 30px 20px 0 20px;
  }
  .container__title {
    margin: 0;
  }
  .title-wrapper-icon {
    margin: 0;
  }
  .container--hebergement {
    width: 100%;
  }
  .card-container {
    margin-bottom: 30px;
    padding: 20px;
  }
  .card-container__card {
    width: 100%;
    margin: 7px 0;
  }
  /* MOBILE HEBERGEMENTS */
  .container--hebergement {
    background-color: white;
  }

  .container__more {
    margin: 0 15px;
  }
  /* MOBILE ACTIVITE */
  #activites {
    padding: 0 15px;
    margin: 35px 0 30px 0;
  }
  .activite-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 202.5px);
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
    grid-gap: 20px;
  }
  #card5 img {
    object-position: 55% 25%;
    /* object-fit: fill; */
  }
  .activite-card {
    max-height: 190px;
  }
  /* FOOTER MOBILE */
  footer {
    flex-direction: column;
    margin: 0;
    padding-top: 40px;
    background-color: #f2f2f2;
  }
  .links-footer {
    margin: 0 0 30px 20px;
    width: auto;
  }
}

/* STYLE TABLET */
@media screen and (min-width: 768px) and (max-width: 1080px) {
  body {
    width: 100vw;
    padding: 0 20px;
  }

  header {
    width: 100%;
  }
  /* FILTERS TABLET */

  .filter-section__search button {
    border-radius: 15px;
  }
  #search-btn-icon {
    display: block;
  }
  #search-btn-text {
    display: none;
  }
  .filter-section__filters {
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
  }
  .filters__title {
    width: 100%;
    margin: 10px 0;
  }
  .filters__bubble {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  /* HEBERGEMENT TABLET */
  .hebergement {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container--populaire {
    margin: 0 0 30px 0;
    width: 100%;
  }
  .container--populaire .card-container {
    justify-content: left;
  }

  .container--hebergement .card-container__card {
    width: 280px;
    margin: 15px auto;
  }

  .image-container--populaire {
    display: flex;
    padding: 0;
    width: 300px;
    height: 100%;
    overflow: hidden;
  }
  .image--populaire {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    padding: 5px;
    margin: auto;
  }
  .container__title-wrapper {
    display: flex;
    align-items: center;
    padding: 30px 20px 15px 20px;
  }
  .container__title {
    margin: 0;
  }
  .title-wrapper-icon {
    margin: 0;
  }
  .container--hebergement {
    width: 100%;
  }
  .card-container {
    margin-bottom: 30px;
  }
  .card-container__card {
    width: 100%;
    margin: 7px 0;
  }
  /* ACTIVITE TABLET */

  /* FOOTER MOBILE */
  footer {
    width: 100%;
    margin: 0;
    padding-top: 40px;
    background-color: #f2f2f2;
  }
  .links-footer {
    margin: auto;
    width: auto;
  }
}

/* BREAK POINT ESTHETIC */

@media screen and (min-width: 768px) and (max-width: 1211px) {
  #activites {
    width: 100%;
    margin: 35px 0 30px 0;
  }
  .activite-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 202.5px);
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6";
    grid-gap: 20px;
  }
  #card5 img {
    object-position: 55% 25%;
    /* object-fit: fill; */
  }
  .activite-card {
    max-height: 190px;
  }
}
